@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Nosifer&family=Open+Sans:wght@700&family=Rubik+Dirt&display=swap');

.games-body {
  min-height: 170vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #9C835F;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headers-games {
  font-family: "Rubik Dirt";
  font-size: 900;
  color: #000000;
}

.users-games {
  display: flex;
  justify-content: right;
}

.option{
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: .9em;
  padding: 3em;
} 

.option:hover{
  background: #C4C4C4;
  border-radius: 30px;
}

.player-gm{
  font-family:"Open sans";
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.com-gm{
  font-family: "Open sans";
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  margin-left: 35%;
  line-height: 49px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.versus {
  width: 296px;
  height: 186px;
  left: 44%;
  top: 60%;
  font-family: "Open sans";
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  line-height: 196px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #BD0000;
}

.com h3{
  width: 299px;
  height: 94px;
  left: 61%;
  top: 24%;
  font-family: "Open sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

#batu {
  width: 188px;
  height: 186px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 23%;
  top: 31%;
}

#kertas {
  width: 188px;
  height: 229px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 23%;
  top: 55%;
}

#gunting {
  width: 188px;
  height: 231px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 23%;
  top: 86%;
}

.random{
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: .9em;
  padding: 3em;
  border-radius: 30px;
} 

.random:hover{
  background: #C4C4C4;
  border-radius: 30px;
}

#batu2 {
  width: 188px;
  height: 186px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 64%;
  top: 31%;
}

#kertas2 {
  width: 188px;
  height: 229px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 64%;
  top: 55%;
}

#gunting2 {
  width: 188px;
  height: 231px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 64%;
  top: 86%;
}

.refresh {
  display: flex;
  justify-content: center;
  width: 77px;
  height: 71px;
  margin-left: 35%;
  line-height: 75px;

}

.users-games{
  font-family: "Hanalei Fill";
  font-weight: 10;
}

.round-game{
  font-family: "Hanalei Fill";
  font-weight: 900;
}

.score-game{
  font-family: "Nosifer";
  font-weight: 900;
}
  
.hasil-game{
  display: flex;
  justify-content: center;
  font-family: 'Nosifer', cursive;
  font-weight: 900;
}

.result {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  transform: rotate(-30deg);
  color: white;
  width: 271.11px;
  height: 166.93px;
  left: 42%;
  top: 60%;
  border-radius: 6%;
}

.refresh-img {
  height: 71px;
  width: 77px;
  margin-bottom: 100px;
}
