.Profile-bg-image{
    background-image: radial-gradient(circle, rgba(0, 212, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.8016456582633054) 30%), url(/bg_image.png);
    width: 100%;
    min-height: 120vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rounded {
    width: 56px;
    height: 56px;
}

.certificate {
    font-weight: 900;
}
